/*AYUDA*/

.titulo__ayuda{
    @include d-flex(center,center, row);
    background-color: #ccc;
    border-top: 2px solid black;
    h1{
        font-size: map-get($sizes, titulos );
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
    }
}
.ayudacontainer {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-items: center;
    row-gap: 20px;
    background-color: #ccc;
    .imagenayuda {
        justify-self: center;
        @include d-flex(center,center,column-reverse);
        flex-wrap: wrap;
        text-align: center;
        a {
            text-decoration: none;
            color: white;
            p {
                width: 200px;
                font-size: map-get($sizes, parrafos );
                background-color: black;
                margin-top: 10px;
                padding: 10px 0px;
                opacity: 0.5;
                &:hover{
                    scale: 1.01;
                    font-weight: bold;
                }
            }
        }
    }
}