
/*CONTACTO*/

.container__contactform2 {
    background-color: #0000000f;
    width: 100%;
    height: 85vh;
    @include d-flex(center,center,row);
    border-top: 2px solid black;
    .contactform2 {
        border: 2px solid black;
        border-radius: 10px;
        width: 700px;
        padding: 20px 0;
        @include d-flex(center,center,column);
        h1 {
            font-weight: bold;
            font-size: map-get($sizes, titulos );
            text-transform: uppercase;
        }
        .contactform2__titulo {
            width: 300px;
            @include d-flex(space-between,center,row);
            padding: 10px;
            a {
                text-decoration: none;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 10px; 
                    left: 0px;
                    width: 100%;
                    height: 2px; 
                    background-color: #ccc; 
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.2s ease ; 
                }
                &:hover::after {
                    transform: scaleX(1); 
                }
                p{
                    font-size:map-get($sizes, parrafos );
                    font-weight: bold;
                    color: black;
                }
            }
        }
        .contact__form2 {
            display: flex;
            width: 80%;
            input {
                font-weight: bold;
                color: black;
                width: 100%;
                border: none;
                background: none;
                padding: 20px 4px;
                border-bottom: 2px solid black;
            }
            ::placeholder{
                color: black;
            }
            textarea {
                font-weight: bold;
                color: black;
                width: 100%;
                height: 180px;
                background: none;
                padding: 10px 4px;
                border: none;
                border-bottom: 2px solid black;
            }
        }
        .contact__button2{
            @include d-flex(center,center,row);
            width: 100%;
            button {
                font-weight: bold;
                background: none;
                padding: 12px;
                margin-top: 20px;
                width: 80%;
                border-radius: 10px;
                border: 2px solid black;
                &:hover{
                    scale: 1.03;
                }
            }
        }
    }
}