
/*INDEX FOOTER*/

footer {
    grid-area: footer;
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 0px 10px;
    .fa-brands {
        color: white;
        width: 25px;
        &:hover {
            scale: 1.3;
        }
    }
    .cookies a {
        text-decoration: none;
        color: white;
    }
}