/*HEADER*/

header{
    grid-area: header;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .contenedorLogo{
        margin-left: 240px;
        .contenedorLogo__logo{
            width: 140px;
            height: 140px;
        }
    }
    .navbar__ul{
        @include d-flex (center,center,row);
        list-style: none;
        li{
            padding: 12px;
            a {
                color: black;
                text-decoration: none;
                font-size: map-get($sizes, parrafos );
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -3px; 
                    left: 0;
                    width: 100%;
                    height: 2px; 
                    background-color: #ccc; 
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.2s ease ; 
                }
                &:hover::after {
                    transform: scaleX(1); 
                }
            }
        }
    }
    .icono{
        margin-right: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            border: none;
        }
        .fa-solid {
            font-size: 19px;
            color: black;
            padding: 0px 18px;
            margin-bottom: 13px;
            border: none;
            &:hover {
                scale: 1.1;
            }
        }
        .offcanvas-header {
            border-bottom: 1px solid black;
        }
        .offcanvas-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0px;
            padding: 0px;
            .container__carrito {
                display: grid;
                grid-template-columns: 100px 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas: " imgcarrito desccarrito " " imgcarrito desccarrito " " imgcarrito inputcant" " imgcarrito . ";
                padding: 15px;
                column-gap: 10px;
                .imagencarrito {
                    grid-area: imgcarrito;
                    img {
                        width: 100px;
                        height: 130px;
                    }
                }
                .descripcioncarrito {
                    grid-area: desccarrito;
                    display: flex;
                    flex-wrap: wrap;
                    .descripcion__nombre {
                        font-weight: bold;
                        font-size: map-get($sizes, parrafos );
                        margin: 0px 5px;
                    }
                    .descripcion__precio {
                        font-size: map-get($sizes, parrafos );
                        margin: 10px 5px;
                    }
                }
                .inputcantidad {
                    display: flex;
                    width: 40%;
                    align-items: center;
                    justify-content: center;
                    grid-area: inputcant;
                    input {
                        text-align: center;
                        font-size: map-get($sizes, parrafos );
                        width: 80px;
                        height: 30px;
                        padding: 2px;
                    }
                }
            }
            .buttoncompra button {
                width: 100%;
                height: 60px;
                margin: 0px;
                padding: 0px;
                background-color: black;
                color: white;
                border: none;
            }
        }
    }
    .nav__responsive {
        display: none;
        .btn {
            background-color: none;
            padding: 0px;
            border: none;
        }
    }
    .carrito_responsive {
        display: none;
        .btn {
            background-color: none;
            padding: 0px;
            border: none;
        }
    }
}