/*INDEX MAIN*/

.main__index{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .imgbanner__index {
        background-image: url(../img/Banners/banner-index.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 75vh;
    }
    .titulo{
        margin-top: 60px;
        @include d-flex(center,center,column);
        h1{
            padding: 8px;
            text-transform: uppercase;
            font-size:  map-get($sizes, titulos);
            font-weight: bold;
        }
        .separacion {
            width: 50px;
            height: 3px;
            background-color: rgba(0, 0, 0, 0.301);
        }
    }
    .section1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        padding: 20px 0;
        column-gap: 80px;
        justify-items: center;
        align-content: center;
        .container {
            margin: 0px auto;
            width: 380px;
            @include d-flex(center,center,column);
            .carruselImagenes {
                padding-top: 20px;
                width: 340px;
                height: 450px;
            }
            .nombre {
                padding-top: 12px;
                width: 250px;
                text-align: center;
                font-weight: bold;
                font-size: map-get($sizes, parrafos );
            }
            .precio {
                text-align: center;
                font-size: $parrafos;
            }
        }
    }
    #carouselExampleAutoplaying {
        display: none;
    }

    .titulo{
        h2{
            font-size: $titulos;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .section2 {
        grid-area: section2;
        width: 100%;
        @include d-flex(center,center,row);
        flex-wrap: wrap;
        .container2 {
            position: relative;
            @include d-flex(center,center,column);
            padding: 0px 10px;
            margin: 0 40px;
        }
        .carruselImagenes2 {
            width: 440px;
            height: 580px;
            padding-top: 30px;
        }
        .nombre {
            padding-top: 12px;
            width: 250px;
            text-align: center;
            font-weight: bold;
            font-size: map-get($sizes, parrafos );
        }
        .precio {
            text-align: center;
            font-size: $parrafos;
        }
    }
    .botonvertodo{
        @include d-flex(center,center,row);
        margin: 30px;
        #vertodo{
            font-size: 12px;
            width: 80px;
            border: 1px solid black;
            padding: 5px;
            background-color: white;
            border-radius: 5px;
            &:hover{
                scale: 1.03;
            }
            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
    .container__contact-ubi{
        grid-area: section3;
        background-image: url(../img/SneakerSobrenosotros.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include d-flex(space-evenly,center,row);
        .container__ubi {
            @include d-flex(center,center,column);
            text-align: center;
            height: 100%;
            h3 {
                width: 100%;
                font-size: 25px;
                color: black;
                padding: 12px;
            }
            iframe {
                width: 550px;
                height: 400px;
                opacity: 0.8;
            }
        }
        .container__contactform {
            @include d-flex(center,stretch,column);
            height: 600px;
            width: 700px;
            text-align: center;
            .titulo__contacto{
                h3 {
                    font-size: 25px;
                    color: black;
                    padding: 12px;
                }
                a {
                    text-decoration: none;
                }
            }
            .contact__form{
                input {
                    color: white;
                    background-color: black;
                    opacity: 0.6;
                    width: 100%;
                    height: 38px;
                    padding: 5px;
                    margin: 3px 0;
                    border-style: none;
                    border-radius: 5px;
                }
                textarea {
                    color: white;
                    background-color: black;
                    opacity: 0.6;
                    width: 100%;
                    height: 60px;
                    padding: 5px;
                    margin: 3px 0;
                    border-style: none;
                    border-radius: 5px;
                }
            }
            .contact__buttom {
                @include d-flex(center,center,row);
                input {
                    width: 140px;
                    height: 30px;
                    background-color: black;
                    opacity: 0.6;
                    color: white;
                    border: 2px solid black;
                    border-radius: 5px;
                }
            }
        }
    }
}