/*INDEX MAIN*/

.main__index{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .imgbanner__index {
        background-image: url(../img/Banners/banner-index.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 75vh;
    }
    .titulo{
        margin-top: 60px;
        @include d-flex(center,center,column);
        h1{
            padding: 8px;
            text-transform: uppercase;
            font-size:  map-get($sizes, titulos);
            font-weight: bold;
        }
        .separacion {
            width: 50px;
            height: 3px;
            background-color: rgba(0, 0, 0, 0.301);
        }
    }
    .section1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        padding: 20px 0;
        column-gap: 80px;
        justify-items: center;
        align-content: center;
        .container {
            margin: 0px auto;
            width: 380px;
            padding: 20px 0px;
            @include d-flex(center,center,column);
            .carruselImagenes {
                width: 340px;
                height: 450px;
                @include imagen;
            }
            .nombre {
                padding: 10px;
                width: 250px;
                height: 50px;
                text-align: center;
                font-weight: bold;
                font-size: map-get($sizes, parrafos );
            }
            .precio {
                text-align: center;
                font-size:map-get($sizes, parrafos );
            }
        }
    }
    #carouselExampleAutoplaying {
        display: none;
    }

    .titulo{
        h2{
            padding: 8px;
            text-transform: uppercase;
            font-size:  map-get($sizes, titulos);
            font-weight: bold;
        }
    }
    .section2 {
        grid-area: section2;
        width: 100%;
        @include d-flex(center,center,row);
        flex-wrap: wrap;
        .container2 {
            position: relative;
            @include d-flex(center,center,column);
            padding: 0px 10px;
            margin: 0 40px;
            margin-top: 40px;
        }
        .carruselImagenes2 {
            width: 440px;
            height: 580px;
            @include imagen;
        }
        .nombre {
            padding-top: 12px;
            width: 250px;
            text-align: center;
            font-weight: bold;
            font-size: map-get($sizes, parrafos );
        }
        .precio {
            text-align: center;
            font-size: map-get($sizes, parrafos );
        }
    }
    .botonvertodo{
        @include d-flex(center,center,row);
        margin: 30px;
        #vertodo{
            font-weight: bold;
            color: black;
            padding: 8px 15px;
            border: 1px solid black;
            border-radius: 2px;
            background-color: white;
            margin-right: 10px;
            &:hover{
                scale: 1.05;
            }
            a {
                text-decoration: none;
                font-size: map-get($sizes, parrafos );
                color: black;
                font-weight: bold;
            }
        }
    }
    .container__contact-ubi{
        grid-area: section3;
        height: 600px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include d-flex(space-evenly,center,row);
        .container__ubi {
            @include d-flex(center,center,column);
            text-align: center;
            height: 100%;
            h3 {
                width: 100%;
                font-size: map-get($sizes, titulos );
                color: black;
                padding: 12px;
                text-transform: uppercase;
            }
            iframe {
                width: 550px;
                height: 400px;
                opacity: 0.8;
            }
        }
        .container__contactform {
            @include d-flex(center,stretch,column);
            height: 600px;
            width: 700px;
            text-align: center;
            .titulo__contacto{
                a {
                    text-decoration: none;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -1px; 
                        left: -100px;
                        width: 60%;
                        height: 2px; 
                        background-color: #ccc; 
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: transform 0.2s ease ; 
                    }
                    &:hover::after {
                        transform: scaleX(1); 
                    }
                    h3 {
                        font-size: map-get($sizes, titulos );
                        text-transform: uppercase;
                        color: black;
                        padding: 12px;
                    }
                }
                .separacion {
                    width: 50px;
                    height: 3px;
                    background-color: rgba(0, 0, 0, 0.301);
                }
            }
            .contact__form{
                input {
                    color: white;
                    background-color: black;
                    opacity: 0.6;
                    width: 80%;
                    height: 50px;
                    padding: 5px;
                    margin: 5px 0;
                    border-style: none;
                    border-radius: 10px;
                }
                textarea {
                    color: white;
                    background-color: black;
                    opacity: 0.6;
                    width: 80%;
                    height: 80px;
                    padding: 5px;
                    margin: 5px 0;
                    border-style: none;
                    border-radius: 10px;
                }
                ::placeholder{
                    color: white;
                }
            }
            .contact__buttom {
                @include d-flex(center,center,row);
                button {
                    width: 50%;
                    height: 50px;
                    background-color: black;
                    opacity: 0.6;
                    color: white;
                    border: 2px solid black;
                    border-radius: 10px;
                    &:hover{
                        scale: 1.03;
                    }
                }
            }
        }
    }
}