/*MEDIA QUERIS 320PX/580PX MOBILE*/
@media (max-width: 480px){
    /*HEADER MEDIA*/
    header {
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "menu logo carrito";
        align-items: center;
        justify-items: center;
        .contenedorLogo {
            grid-area: logo;
            margin: 0px;
            justify-content: center;
        }
        .navbar
            ul {
            display: none;
            li {
                font-size: map-get($sizes, parrafos );
                font-weight: bold;
            }
        }
        .icono {
            display: none;
        }
        .nav__responsive {
            display: flex;
            grid-area: menu;
            justify-self: start;
            padding: 8px;
            .offcanvas-body {
                margin: 0px;
                padding: 0px;
                div {
                    display: flex;
                    .navbar__ul__responsive {
                        list-style-type: none;
                        color: black;
                        padding: 12px;
                        li {
                            padding-top: 20px;
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
            .fa-solid {
                font-size: 20px;
                color: black;
            }
        }
        .carrito_responsive {
            display: flex;
            grid-area: carrito;
            justify-self: end;
            padding: 8px;
            .btn {
                background-color: none;
                padding: 0px;
                border: none;
            }
            .offcanvas-header {
                border-bottom: 1px solid black;
            }
            .offcanvas-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;
                .container__carrito__responsive {
                    display: grid;
                    grid-template-columns: 100px 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    grid-template-areas: " imgcarrito desccarrito " " imgcarrito desccarrito " " imgcarrito inputcant" " imgcarrito . ";
                    padding: 15px;
                    column-gap: 10px;
                    .imagencarrito {
                        grid-area: imgcarrito;
                        img {
                            width: 100px;
                            height: 130px;
                        }
                    }
                    .descripcioncarrito {
                        grid-area: desccarrito;
                        display: flex;
                        flex-wrap: wrap;
                        .descripcion__nombre {
                            font-weight: bold;
                            font-size: map-get($sizes, parrafos );
                            margin: 0px 5px;
                            width: 100%;      
                            display: flex;
                            justify-content: space-between;
                            #borrarResponsive{
                                background: none;
                                border: none;
                                i{
                                    font-size: 18px;
                                    color: red;
                                    &:active{
                                        scale: 1.09;
                                    }
                                }
                            }
                        }
                        .descripcion__precio {
                            font-size: map-get($sizes, parrafos );
                            margin: 10px 5px;
                            font-weight: bold;
                        }
                    }
                    .cantidad {
                        border: 1px solid black;
                        width: 75px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        grid-area: inputcant;
                        margin: 0px 5px;
                        p {
                            margin: 0 auto;
                            text-align: center;
                            font-size: map-get($sizes, parrafos );
                        }
                    }
                }
                .buttoncompra{
                    #vaciarCarritoResponsive{
                        width: 100%;
                        height: 60px;
                        margin: 0px;
                        padding: 0px;
                        background-color: black;
                        color: white;
                        border: 1px solid white;
                    }
                    #finalizarCompraResponsive{
                        width: 100%;
                        height: 60px;
                        margin: 0px;
                        padding: 0px;
                        background-color: black;
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }

    /*MAIN INDEX MEDIA*/
    .main__index{
        .titulo{
            h1{
                text-align: center;
                font-size: map-get($sizes-media, titulos );
            }
        }
        .section1 {
            display: none;
        }
        #carouselExampleAutoplaying {
            display: flex;
            width: 90%;
            margin: 0 auto;
            padding: 20px;
            .carousel-inner {
                width: 100%;
            }
            .carousel-control-next-icon {
                width: 20px;
                margin-right: 12px;
            }
            .carousel-control-prev-icon {
                width: 20px;
                margin-left: 12px;
            }
        }
        .titulo {
            margin-top: 25px;
            h2 {
                font-size: map-get($sizes-media, titulos );
                text-align: center;
            }
        } 
        .section2 {
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 20px;
            .container2 {
                text-align: center;
                width:45%;
                margin: 0px auto;
                padding: 10px 0;
                .carruselImagenes2 {
                    width: 100%;
                    height: 25%;
                }
                .nombre {
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 40px;
                    padding-top:20px;
                }
                .precio {
                    font-size: map-get($sizes-media, parrafos );
                    padding: 2px;
                    width: 100%;
                }
                .botoncarrito{
                    width: 100%;
                    padding: 10px;
                    @include d-flex(center,center,row);
                    button{
                        width: 35px;
                        height: 35px;
                        i{
                            font-size: map-get($sizes-media, parrafos);
                        }
                        &:active{
                            scale: 1.03;
                            transform: rotateY(360deg);
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .container__contact-ubi{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin-bottom: 70px;
            .container__ubi {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 500px;
                justify-content: center;
                align-items: center;
                h3 {
                    color: black;
                    font-size: map-get($sizes-media, titulos );
                    font-weight: bold;
                }
                iframe {
                    width: 100%;
                    height: 400px;
                    padding: 20px;
                }
            }
            .container__contactform {
                display: flex;
                flex-direction: column;
                width: 100%;
                .titulo__contacto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    font-size: map-get($sizes, subtitulos);
                    a{
                        h3 {
                            color: black;
                            font-size: map-get($sizes-media, titulos );
                            font-weight: bold;
                        }
                    }
                }
                .contact__form{
                    input {
                        width: 90%;
                    }
                    textarea {
                        width: 90%;
                    }
                }
            }
        }
    }

    /*FOOTER MEDIA*/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 10vh;
        div {
            padding: 0px 10px;
        }
        .cookies {
            font-size: map-get($sizes, parrafos );
            padding: 0px 2px;
        }
    }

    /*ZAPATILLAS*/
    .mainzapatillas{
        .container-fluid{
            .imgbanner__zapas {
                height: 60vh;
            }
        }
        .titulozapatillas{
            font-size: map-get($sizes-media, titulos);
        }
        .section__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .article__filtros {
                display: none;
            }
            .filtros__responsive {
                width: 100%;
                display: flex;
                padding: 10px;
                justify-content: start;
                align-items: center;
                color: black;
                .buttonfiltros{
                    font-weight: bold;
                    color: black;
                    font-size: map-get($sizes-media, parrafos);
                    padding: 8px 15px;
                    border: 1px solid black;
                    border-radius: 2px;
                    background-color: white;
                    margin-right: 10px;
                }
                .container__marcas {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    border-top: 1px solid black;
                    margin: 5px;
                    .lista__filtros {
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
                .container__talles {
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    border-top: 1px solid black;
                    .lista__filtros {
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
                .container__precio {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin: 5px;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    .lista__filtros {
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
                .deshacer{
                    font-weight: bold;
                    color: black;
                    font-size: map-get($sizes-media, parrafos);
                    padding: 8px 15px;
                    border: 1px solid black;
                    border-radius: 2px;
                    background-color: white;
                    margin-right: 10px;
                    font-size: map-get($sizes-media,parrafos);
                }
            }
            .article__zapatillas {
                width: 100%;
                display: flex;
                margin: 0px auto;
                margin-bottom: 40px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .contenidoimagen{
                    padding: 10px 0px;
                    width:45%;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        height: 25%;
                    }
                    .nombrezapas{
                        font-size: map-get($sizes-media, parrafos );
                        width: 100%;
                        height: 60px;
                        padding-top: 20px;
                    }
                    .preciozapas{
                        font-size: map-get($sizes-media, parrafos );
                        padding: 2px;
                        width: 100%;
                    }
                    .botoncarrito{
                        width: 100%;
                        @include d-flex(center,center,row);
                        button{
                            width: 35px;
                            height: 35px;
                            i{
                                font-size: map-get($sizes-media, parrafos );
                            }
                            &:active{
                                scale: 1.03;
                                transform: rotateY(360deg);
                                transition: .5s;
                            }
                        }
                    }
                }
            }
        }
    }

    /*AYUDA*/

    .titulo__ayuda{
        h1{
            font-size: map-get($sizes-media, titulos );
        }
    }
    .ayudacontainer {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        .imagenayuda {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 0px;
            img {
                width: 160px;
                height: 160px;
            }
            a{
                p {
                    width: 160px;
                    font-size: map-get($sizes, parrafos);
                }
            }
        }
    }

    /*SOBRE NOSOTROS*/

    .container-fluid{
        .imgbanner__sobrenosotros {
            height: 60vh;
        }
    }
    .titulo{
        h1{
            font-size: map-get($sizes-media, titulos );
        }
    }
    .sobrenosotros__p {
        font-size: map-get($sizes-media, parrafos);
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    .containerimagenessobrenosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }

    .diasyhorarios{
        width: 70%;
        p{
            font-size: map-get($sizes-media, parrafos);
        }
    }

    .container__ubisobrenosotros {
        h2 {
            font-size: map-get($sizes-media,titulos);
            margin-top: 10px;
        }
        .container__iframe{
            iframe {
                width: 100%;
                height: 480px;
            }
        }
    }

    /*CONTACTO*/

    .container__contactform2 {
        width: 100%;
        .contactform2 {
            width: 90%;
            justify-content: space-around;
            h3 {
                font-size: map-get($sizes-media, titulos);
            }
            .contactform2__titulo{
                justify-content: space-around;
                a{
                    p {
                        font-size: map-get($sizes-media, parrafos);
                    }
                }
            }
        }
    }

    /*OFF CANVAS BACKDROP*/
    .offcanvas-backdrop {
        width: 100%;
        height: 100%;
    }
}



@media (min-width: 480px) and (max-width: 768px){
    /*INDEX*/
    header {
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "menu logo carrito";
        align-items: center;
        justify-items: center;
        .contenedorLogo {
            grid-area: logo;
            margin: 0px;
            justify-content: center;
        }
        .navbar
            ul {
            display: none;
            li {
                font-size: map-get($sizes, parrafos );
                font-weight: bold;
            }
        }
        .icono {
            display: none;
        }
        .nav__responsive {
            display: flex;
            grid-area: menu;
            justify-self: start;
            padding: 8px;
            .offcanvas-body {
                margin: 0px;
                padding: 0px;
                div {
                    display: flex;
                    .navbar__ul__responsive {
                        list-style-type: none;
                        color: black;
                        padding: 12px;
                        li {
                            padding-top: 20px;
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
            .fa-solid {
                font-size: 20px;
                color: black;
            }
        }
        .carrito_responsive {
            display: flex;
            grid-area: carrito;
            justify-self: end;
            padding: 8px;
            .btn {
                background-color: none;
                padding: 0px;
                border: none;
            }
            .offcanvas-header {
                border-bottom: 1px solid black;
            }
            .offcanvas-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;
                .container__carrito__responsive {
                    display: grid;
                    grid-template-columns: 100px 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    grid-template-areas: " imgcarrito desccarrito " " imgcarrito desccarrito " " imgcarrito inputcant" " imgcarrito . ";
                    padding: 15px;
                    column-gap: 10px;
                    .imagencarrito {
                        grid-area: imgcarrito;
                        img {
                            width: 100px;
                            height: 130px;
                        }
                    }
                    .descripcioncarrito {
                        grid-area: desccarrito;
                        display: flex;
                        flex-wrap: wrap;
                        .descripcion__nombre {
                            font-weight: bold;
                            font-size: map-get($sizes, parrafos );
                            margin: 0px 5px;     
                            width: 100%;      
                            display: flex;
                            justify-content: space-between;
                            #borrarResponsive{
                                background: none;
                                border: none;
                                i{
                                    font-size: 18px;
                                    color: red;
                                    &:active{
                                        scale: 1.09;
                                    }
                                }
                            }
                        }
                        .descripcion__precio {
                            font-size: map-get($sizes, parrafos );
                            margin: 10px 5px;
                            font-weight: bold;
                        }
                    }
                    .cantidad {
                        border: 1px solid black;
                        width: 75px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        grid-area: inputcant;
                        margin: 0px 5px;
                        p {
                            margin: 0 auto;
                            text-align: center;
                            font-size: map-get($sizes, parrafos );
                        }
                    }
                }
                .buttoncompra{
                    #vaciarCarritoResponsive{
                        width: 100%;
                        height: 60px;
                        margin: 0px;
                        padding: 0px;
                        background-color: black;
                        color: white;
                        border: 1px solid white;
                    }
                    #finalizarCompraResponsive {
                        width: 100%;
                        height: 60px;
                        margin: 0px;
                        padding: 0px;
                        background-color: black;
                        border: 1px solid white;
                        color: white;
                    }
                }
            }
        }
    }


    .main__index{
        .titulo{
            h1{
                text-align: center;
                font-size: map-get($sizes-media, titulos );
            }
        }
        .section1{
            width: 100%;
            flex-direction: row;
            margin: 10px auto;
            .containerimg{
                width:50%;
                .carruselImagenes{
                    width: 100%;
                    height: 45%;
                    padding: 10px;
                }
                .nombre{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 40px;
                }
                .precio{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 20px;
                }
                .botoncarrito{
                    width: 100%;
                    padding: 10px;
                    @include d-flex(center,center,row);
                    button{
                        width: 35px;
                        height: 35px;
                        i{
                            font-size: map-get($sizes-media, parrafos);
                        }
                        &:active{
                            scale: 1.03;
                            transform: rotateY(360deg);
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .titulo{
            h2{
                font-size: map-get($sizes-media, titulos);
                text-align: center;
            }
        }
        .section2{
            .container2{
                width: 33%;
                margin: 10px auto;
                .carruselImagenes2{
                    width: 100%;
                    height: 100%;
                }
                .nombre{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 40px;
                }
                .precio{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 20px;
                }
                .botoncarrito{
                    width: 100%;
                    padding: 10px;
                    @include d-flex(center,center,row);
                    button{
                        width: 35px;
                        height: 35px;
                        i{
                            font-size: map-get($sizes-media, parrafos);
                        }
                        &:active{
                            scale: 1.03;
                            transform: rotateY(360deg);
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .container__contact-ubi{
            flex-direction: column; 
            height: 100%;
            .container__ubi{
                h3{
                    font-size: map-get($sizes-media, titulos );
                }
                width: 90%;
                iframe{
                    width: 100%;
                }   
            }
            .container__contactform{
                width: 100%;
                .titulo__contacto{
                    a{
                        h3{
                            font-size: map-get($sizes-media, titulos );
                        }
                    }
                }
            }
        }
    }

    /*ZAPATILLAS*/
    .mainzapatillas{
        .titulozapatillas{
            font-size: map-get($sizes-media, titulos);
        }
        .section__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .article__filtros {
                display: none;
            }
            .filtros__responsive {
                width: 100%;
                display: flex;
                padding: 10px;
                justify-content: start;
                align-items: center;
                color: black;
                .buttonfiltros{
                    font-weight: bold;
                    color: black;
                    font-size: map-get($sizes-media, parrafos);
                    padding: 8px 15px;
                    border: 1px solid black;
                    border-radius: 2px;
                    background-color: white;
                    margin-right: 10px;
                }
                .container__marcas {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    border-top: 1px solid black;
                    margin: 5px;
                    .lista__filtros {
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
                .container__talles {
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    border-top: 1px solid black;
                    .lista__filtros {
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
                .container__precio {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin: 5px;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    .lista__filtros {
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
                .deshacer{
                    font-weight: bold;
                    color: black;
                    font-size: map-get($sizes-media, parrafos);
                    padding: 8px 15px;
                    border: 1px solid black;
                    border-radius: 2px;
                    background-color: white;
                    margin-right: 10px;
                    font-size: map-get($sizes-media,parrafos);
                }
            }
            .article__zapatillas {
                width: 100%;
                display: flex;
                margin: 0px auto;
                margin-bottom: 40px;
                justify-content: center;
                align-items: center;
                .contenidoimagen{
                    padding: 10px;
                    width:50%;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        height: 35%;
                    }
                    .nombrezapas{
                        font-size: map-get($sizes-media, parrafos );
                        width: 100%;
                        height: 60px;
                        padding-top: 20px;
                    }
                    .preciozapas{
                        font-size: map-get($sizes-media, parrafos );
                        padding: 2px;
                        width: 100%;
                        height: 20px;
                    }
                    .botoncarrito{
                        width: 100%;
                        @include d-flex(center,center,row);
                        button{
                            width: 35px;
                            height: 35px;
                            i{
                                font-size: map-get($sizes-media, parrafos );
                            }
                            &:active{
                                scale: 1.03;
                                transform: rotateY(360deg);
                                transition: .5s;
                            }
                        }
                    }
                }
            }
        }
    }

    /*AYUDA*/
    .titulo__ayuda{
        h1{
            margin-top: 20px;
            font-size: map-get($sizes-media, titulos );
        }
    }
    .ayudacontainer {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        .imagenayuda {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            margin: 0 10px;
            img {
                width: 100%;
                height: 20%;
            }
            a{
                width: 100%;
                p {
                    width: 100%;
                    font-size: map-get($sizes, parrafos);
                }
            }
        }
    }


    /*SOBRENOSOTROS*/
    .titulo{
        h1{
            font-size: map-get($sizes-media, titulos );
        }
    }
    .containerimagenessobrenosotros {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .diasyhorarios{
        width: 80%;
        p{
            font-size: map-get($sizes-media, parrafos);
        }
    }
    .container__ubisobrenosotros{
        h2{
            font-size: map-get($sizes-media, titulos );
        }
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    /*MAIN INDEX*/
    .main__index{
        .titulo{
            h1{
                text-align: center;
                font-size: map-get($sizes-media, titulos );
            }
        }
        .section1{
            width: 100%;
            flex-direction: row;
            margin: 10px auto;
            .containerimg{
                width:45%;
                .carruselImagenes{
                    width: 100%;
                    height: 45%;
                    padding: 10px;
                }
                .nombre{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 40px;
                }
                .precio{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 20px;
                }
                .botoncarrito{
                    width: 100%;
                    padding: 10px;
                    @include d-flex(center,center,row);
                    button{
                        width: 35px;
                        height: 35px;
                        i{
                            font-size: map-get($sizes-media, parrafos);
                        }
                        &:active{
                            scale: 1.03;
                            transform: rotateY(360deg);
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .titulo{
            h2{
                font-size: map-get($sizes-media, titulos);
                text-align: center;
            }
        }
        .section2{
            .container2{
                width: 33%;
                margin: 10px auto;
                .carruselImagenes2{
                    width: 100%;
                    height: 100%;
                }
                .nombre{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 40px;
                }
                .precio{
                    font-size: map-get($sizes-media, parrafos );
                    width: 100%;
                    height: 20px;
                }
                .botoncarrito{
                    width: 100%;
                    padding: 10px;
                    @include d-flex(center,center,row);
                    button{
                        width: 35px;
                        height: 35px;
                        i{
                            font-size: map-get($sizes-media, parrafos);
                        }
                        &:active{
                            scale: 1.03;
                            transform: rotateY(360deg);
                            transition: .5s;
                        }
                    }
                }
            }
        }
        .container__contact-ubi{
            flex-direction: column; 
            height: 100%;
            .container__ubi{
                h3{
                    font-size: map-get($sizes-media, titulos );
                }
                width: 90%;
                iframe{
                    width: 100%;
                }   
            }
            .container__contactform{
                width: 100%;
                .titulo__contacto{
                    a{
                        h3{
                            font-size: map-get($sizes-media, titulos );
                        }
                    }
                }
            }
        }
    }
    /*ZAPATILLAS*/

    .mainzapatillas{
        width: 100%;
        @include d-flex(center,center,column);
        .container-fluid{
            .imgbanner__zapas {
                background-image: url(../img/Banners/banner-zapatillas.jpg);
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 75vh;
            }
        }
        .titulozapatillas {
            text-align: center;
            margin: 40px 0px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: map-get($sizes-media, titulos);
        }
        .section__container {
            width: 100%;
            @include d-flex(center,start,row);
            .article__filtros {
                width: 200px;
                display: flex;
                flex-direction: column;
                .container__filtros {
                    padding-bottom: 25px;
                    h2{
                        font-size: map-get($sizes-media, subtitulos);
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
                .container__marcas{
                    h3{
                        font-size: map-get($sizes-media, subtitulos);
                        font-weight: bold;
                    }
                    ul {
                        padding: 8px ;
                        list-style: none;
                    }
                    li{
                        font-size: map-get($sizes-media, parrafos);
                    }
                } 
                .container__talles {
                    h3{
                        font-size: map-get($sizes-media, subtitulos);
                        font-weight: bold;
                    }
                    ul {
                        padding: 8px ;
                        list-style: none;
                    }
                    li{
                        font-size: map-get($sizes-media, parrafos);
                    }
                } 
                .container__precio{
                    h3{
                        font-size: map-get($sizes-media, subtitulos);
                        font-weight: bold;
                    }
                    ul {
                        padding: 8px ;
                        list-style: none;
                    }
                    li{
                        font-size: map-get($sizes-media, parrafos);
                    }
                } 
                .deshacer {
                    padding: 6px;
                    border: 1px solid black;
                    border-radius: 5px;
                    background-color: white;
                    font-size: map-get($sizes-media, parrafos);
                    &:hover{
                        scale: 1.02;
                    }
                }
            }
            .article__zapatillas{
                grid-area: zapatillas;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                margin-bottom: 40px;
                .contenidoimagen {
                    @include d-flex(center,center,column);
                    padding: 10px;
                    width: 45%;
                    margin: 0 auto;
                    img {
                        width:100%;
                        border-radius: 2px;
                        @include imagen;
                    }
                    .nombrezapas {
                        padding:10px;
                        width: 250px;
                        height: 40px;
                        font-size: map-get($sizes-media, parrafos);
                        font-weight: bold;
                    }
                    .preciozapas {
                        font-size:map-get($sizes-media, parrafos);
                        margin-bottom: 8px;
                    }
                    .botoncarrito{
                        width: 100%;
                        @include d-flex(center,center,row);
                        button{
                            width: 35px;
                            height: 35px;
                            border: none;
                            border-radius: 50%;
                            background-color:#f3f3f3;
                            border: 2px solid black;
                            &:hover{
                                scale: 1.03;
                                transform: rotateY(360deg);
                                transition: .5s;
                            }
                        }
                    }
                }
            }
        }
    }

    /*SOBRE NOSOTROS*/
    .container-fluid{
        .imgbanner__sobrenosotros {
            height: 60vh;
        }
    }
    .titulo{
        h1{
            font-size: map-get($sizes-media, titulos );
        }
    }
    .sobrenosotros__p {
        font-size: map-get($sizes-media, parrafos);
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    .containerimagenessobrenosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }

    .diasyhorarios{
        width: 50%;
        p{
            font-size: map-get($sizes-media, parrafos);
        }
    }

    .container__ubisobrenosotros {
        h2 {
            font-size: map-get($sizes-media,titulos);
            margin-top: 10px;
        }
        .container__iframe{
            iframe {
                width: 100%;
                height: 480px;
            }
        }
    }
} 