/*MEDIA QUERIS MOBILE*/
@media (min-width: 320px) and (max-width: 580px){
    /*HEADER MEDIA*/
    header {
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "menu logo carrito";
        align-items: center;
        justify-items: center;
        .contenedorLogo {
            grid-area: logo;
            margin: 0px;
            justify-content: center;
        }
        .navbar
            ul {
            display: none;
            li {
                font-size: map-get($sizes, parrafos );
                font-weight: bold;
            }
        }
        .icono {
            display: none;
        }
        .nav__responsive {
            display: flex;
            grid-area: menu;
            justify-self: start;
            padding: 8px;
            .offcanvas-body {
                margin: 0px;
                padding: 0px;
                div {
                    display: flex;
                    .navbar__ul__responsive {
                        list-style-type: none;
                        color: black;
                        padding: 12px;
                        li {
                            padding-top: 20px;
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
            .fa-solid {
                font-size: 20px;
                color: black;
            }
        }
        .carrito_responsive {
            display: flex;
            grid-area: carrito;
            justify-self: end;
            padding: 8px;
            .btn {
                background-color: none;
                padding: 0px;
                border: none;
            }
            .offcanvas-header {
                border-bottom: 1px solid black;
            }
            .offcanvas-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;
                .container__carrito {
                    display: grid;
                    grid-template-columns: 100px 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    grid-template-areas: " imgcarrito desccarrito " " imgcarrito desccarrito " " imgcarrito inputcant" " imgcarrito . ";
                    padding: 15px;
                    column-gap: 10px;
                    .imagencarrito {
                        grid-area: imgcarrito;
                        img {
                            width: 100px;
                            height: 130px;
                        }
                    }
                    .descripcioncarrito {
                        grid-area: desccarrito;
                        display: flex;
                        flex-wrap: wrap;
                        .descripcion__nombre {
                            font-weight: bold;
                            font-size: map-get($sizes, parrafos );
                            margin: 0px 5px;
                        }
                        .descripcion__precio {
                            font-size: map-get($sizes, parrafos );
                            margin: 10px 5px;
                            font-weight: bold;
                        }
                    }
                    .inputcantidad {
                        display: flex;
                        width: 40%;
                        align-items: center;
                        justify-content: center;
                        grid-area: inputcant;
                        input {
                            text-align: center;
                            font-size: map-get($sizes, parrafos );
                            width: 80px;
                            height: 30px;
                            padding: 2px;
                        }
                    }
                }
                .buttoncompra button {
                    width: 100%;
                    height: 60px;
                    margin: 0px;
                    padding: 0px;
                    background-color: black;
                    color: white;
                    border: none;
                }
            }
        }
    }

    /*MAIN INDEX MEDIA*/
    .main__index{
        .titulo{
            h1{
                text-align: center;
            }
        }
        .section1 {
            display: none;
        }
        #carouselExampleAutoplaying {
            display: flex;
            width: 90%;
            margin: 0 auto;
            padding: 20px;
            .carousel-inner {
                width: 100%;
                margin: 20px;
            }
            .carousel-control-next-icon {
                width: 20px;
                margin-right: 12px;
            }
            .carousel-control-prev-icon {
                width: 20px;
                margin-left: 12px;
            }
        }
        .titulo {
            margin-top: 25px;
            h2 {
                font-size: map-get($sizes, subtitulos );
                text-align: center;
            }
        } 
        .section2 {
            flex-direction: row;
            flex-wrap: wrap;
            .container2 {
                text-align: center;
                width:180px;
                margin: 20px auto;
                
                .carruselImagenes2 {
                    width: 170px;
                    height: 230px;
                }
                .nombre {
                    font-size: map-get($sizes, parrafos );
                    width: 80%;
                }
                .precio {
                    font-size: map-get($sizes, parrafos );
                    width: 80%;
                }
            }
        }
        .container__contact-ubi{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin-bottom: 70px;
            .container__ubi {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 500px;
                justify-content: center;
                align-items: center;
                h3 {
                    color: black;
                }
                iframe {
                    width: 100%;
                    height: 400px;
                    padding: 20px;
                }
            }
            .container__contactform {
                display: flex;
                flex-direction: column;
                width: 100%;
                .titulo__contacto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    font-size: map-get($sizes, subtitulos);
                    a{
                        h3 {
                            color: black;
                        }
                    }
                }
                .contact__form{
                    input {
                        width: 90%;
                    }
                    textarea {
                        width: 90%;
                    }
                }
            }
        }
    }

    /*FOOTER MEDIA*/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 10vh;
        div {
            padding: 0px 10px;
        }
        .cookies {
            font-size: map-get($sizes, parrafos );
            padding: 0px 2px;
        }
    }

    /*ZAPATILLAS*/
    .mainzapatillas{
        .container-fluid{
            .imgbanner__zapas {
                height: 60vh;
            }
        }
        .section__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .article__filtros {
                display: none;
            }
            .filtros__responsive {
                width: 100%;
                display: flex;
                padding: 10px;
                justify-content: start;
                align-items: center;
                color: black;
                .buttonfiltros{
                    font-weight: bold;
                    color: black;
                    font-size: map-get($sizes, parrafos);
                    padding: 8px 15px;
                    border: 1px solid black;
                    border-radius: 2px;
                    background-color: white;
                    margin-right: 10px;
                }
                .container__marcas {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    border-top: 1px solid black;
                    margin: 5px;
                    .lista__filtros {
                        list-style: none;
                    }
                }
                .container__talles {
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    border-top: 1px solid black;
                    .lista__filtros {
                        list-style: none;
                    }
                }
                .container__precio {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin: 5px;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    .lista__filtros {
                        list-style: none;
                    }
                }
                .deshacer{
                    @extend .buttonfiltros;
                }
            }
            .article__zapatillas {
                width: 100%;
                display: flex;
                margin: 0px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .contenidoimagen{
                    width:180px;
                    padding: 10px;
                    margin: 0 auto;
                    img{
                        width: 170px;
                        height: 230px;
                    }
                    .nombrezapas{
                        padding-top: 10px;
                        width: 180px;
                        height: 45px;
                        font-size: map-get($sizes-media, parrafos );
                    }
                    .preciozapas{
                        width: 80px;
                        font-size: map-get($sizes-media, parrafos );
                    }
                }
            }
        }
    }

    /*AYUDA*/

    .ayudacontainer {
        width: 100%;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        .imagenayuda {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 0px;
            img {
                width: 160px;
                height: 160px;
            }
            a{
                p {
                    width: 160px;
                    font-size: map-get($sizes, parrafos);
                }
            }
        }
    }

    /*SOBRE NOSOTROS*/

    .container-fluid{
        .imgbanner__sobrenosotros {
            height: 60vh;
        }
    }
    .sobrenosotros__p {
        font-size: map-get($sizes, parrafos);
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    .containerimagenessobrenosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 500px;
        }
    }

    .diasyhorarios{
        width: 70%;
    }

    .container__ubisobrenosotros {
        h2 {
            font-size: map-get($sizes,titulos);
            margin-top: 10px;
        }
        .container__iframe{
            iframe {
                width: 100%;
                height: 480px;
            }
        }
    }

    /*CONTACTO*/

    .container__contactform2 {
        width: 100%;
        .contactform2 {
            width: 90%;
            justify-content: space-around;
            h3 {
                font-size: map-get($sizes, titulos);
            }
            .contactform2__titulo{
                a{
                    p {
                        font-size: map-get($sizes, parrafos);
                    }
                }
            }
        }
    }

    /*OFF CANVAS BACKDROP*/
    .offcanvas-backdrop {
        width: 100%;
        height: 100%;
    }
}
