/*VARIABLES*/
$titulos:25px;
$subtitulos:22px;
$parrafos:14px;


/* MAPS */
$sizes:(
    titulos: 25px,
    subtitulos: 22px,
    parrafos: 14px
);


$sizes-media:(
    titulos: 20px,
    subtitulos: 18px,
    parrafos: 12px
);


/* MIXINS */
@mixin d-flex ($jcontent,$aitems,$direccion){
    display: flex;
    justify-content: $jcontent;
    align-items: $aitems;
    flex-direction: $direccion;
}

@mixin imagen{
    &:hover{
        transform: scale(1.01);
        cursor: pointer;
    }
}



