/*IMPORT SCSS*/
@import 'variables';
@import 'header';
@import 'index';
@import 'footer';
@import 'zapatillas';
@import 'ayuda';
@import 'sobrenosotros';
@import 'contacto';
@import 'producto';
@import 'finalizarCompra';
@import 'mediaqueries';


/*IMPORT FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');


/*RESET CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
